@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
@import "@aws-amplify/ui-react/styles.css";

body,
html,
body::after,
body::before {
  margin: 0;
  padding: 0;
}
[data-amplify-authenticator][data-variation="modal"] {
  background-color: #292929;
}
